USE [SANDBOX]
GO
/****** Object:  StoredProcedure [ROSE\issacg].[USP_REHAB_FINDRANDOMPIPE]    Script Date: 06/28/2011 16:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ROSE\issacg].[USP_REHAB_FINDRANDOMPIPE] 

AS
BEGIN
--SELECT REHAB_PIPE_CALC.COMPKEY, RUL_Final, grade_h5, (fail_yr - 2010) AS RUF, ((fail_yr - 2010)- RUL_Final) AS Diff , ReplaceCost FROM REHAB_PIPE_CALC INNER JOIN tbl_RULmla_ac ON REHAB_PIPE_CALC.COMPKEY = tbl_RULmla_ac.COMPKEY WHERE mlinkid < 40000000 and action = 1 AND RUL_Final < 10 ORDER BY Diff 
--SELECT REHAB_PIPE_CALC.COMPKEY, RUL_Final, grade_h5, (fail_yr - 2010) AS RUF, ((fail_yr - 2010)- RUL_Final) AS Diff , ReplaceCost FROM REHAB_PIPE_CALC INNER JOIN tbl_RULmla_ac ON REHAB_PIPE_CALC.COMPKEY = tbl_RULmla_ac.COMPKEY WHERE mlinkid < 40000000 and action = 1 AND RUL_Final >= 10  AND (fail_yr - 2010) < 10 ORDER BY Diff
--SELECT * FROM RedundancyTable WHERE COMPKEY = 388331
--SELECT * FROM [SIRTOBY].[HANSEN].[IMSV7].COMPSMN WHERE COMPKEY = 388331
--SELECT JoesChartData.COMPKEY, Insp_Curr FROM JoesChartData INNER JOIN REHAB_PIPE_CALC ON JoesChartData.COMPKEY = REHAB_PIPE_CALC.COMPKEY WHERE (WholePipeStdDev IS NULL OR WholePipeReplaceYear IS NULL) AND REHAB_PIPE_CALC.MLinkID <40000000  ORDER BY Insp_Curr

--SELECT * FROM tbl_RULMLA_ac WHERE COMPKEY = 158053 
SELECT COUNT(*) FROM (SELECT COMPKEY AS X from REHAB10FTSEGS WHERE REMARKS = 'BES' GROUP BY COMPKEY)AS A
--SELECT COUNT(*) FROM (SELECT COMPKEY AS X from REHAB10FTSEGS GROUP BY COMPKEY)AS A
--SELECT COMPKEY FROM (SELECT A.COMPKEY FROM REHAB10FTSEGS AS A INNER JOIN REHAB_CONVERSION AS B ON A.COMPKEY = B.COMPKEY AND B.OWN = 'BES' AND (B.UnitType = 'saml' OR B.UnitType = 'csml' OR B.UnitType = 'csint' OR B.UnitType = 'saint' OR B.UnitType = 'csdet' OR B.UnitType = 'csotn' OR B.UnitType = 'embpg') AND B.ServStat <> 'ABAN' AND B.ServStat <> 'TBAB' AND PATINDEX('[A-Z][A-Z][A-Z][0-9][0-9][0-9]',USNODE) > 0 AND PATINDEX('[A-Z][A-Z][A-Z][0-9][0-9][0-9]',DSNODE) > 0 AND ((A.COMPKEY IN (SELECT COMPKEY FROM [SIRTOBY].[HANSEN].[IMSV7].COMPSMN)) ) AND MLinkID <40000000) AS TBLZ GROUP BY COMPKEY
--SELECT COUNT(*) FROM [SIRTOBY].[HANSEN].[IMSV7].VARGALT WHERE ALTIDTYP='OFID'
--SELECT * FROM [SIRTOBY].[HANSEN].[IMSV7].COMPSMN WHERE COMPKEY = 131469
--SELECT * FROM REHAB10FTSEGS WHERE COMPKEY = 131469


--SELECT * from REHAB_MLA_05FtBrk_VariesTable WHERE COMPKEY = 111735
--SELECT * from RedundancyTable WHERE COMPKEY = 158053
--SELECT * from RemainingYearsTable WHERE MLINKID = 41141889 OR MLINKID = 41141890 OR MLINKID = 11845805

--SELECT JoesChartData.* FROM JoesChartData INNER JOIN REHAB_PIPE_CALC ON JoesChartData.COMPKEY = REHAB_PIPE_CALC.COMPKEY WHERE INSP_CURR = 3/*(WholePipeStdDev IS NULL OR WholePipeReplaceYear IS NULL)*/ AND REHAB_PIPE_CALC.MLinkID <40000000   ORDER BY Insp_Curr

--SELECT * FROM REHAB10FTSEGS WHERE COMPKEY IN (
--SELECT COMPKEY FROM REHAB10FTSEGS WHERE GRADE_h5 <4 AND MLinkID < 40000000 AND DEF_TOT >+ 1000)
--AND MLinkID >= 40000000 AND DEF_TOT >=1000
--SELECT * FROM REHAB10FTSEGS WHERE GRADE_H5 = 3 AND MLINKID < 40000000
--SELECT * FROM REHAB10FTSEGS WHERE bpw = 0
--SELECT * FROM REHAB10FTSEGS WHERE bpw is null



END
