USE [SANDBOX]
GO
/****** Object:  StoredProcedure [ROSE\issacg].[USP_REHAB_LOOK3NEXTTO4OR5]    Script Date: 06/28/2011 16:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [ROSE\issacg].[USP_REHAB_LOOK3NEXTTO4OR5] AS
BEGIN
--UPDATE RedundancyTableWhole SET RedundancyTableWhole.USNODE = REHAB_PIPE_CALC.USNODE FROM RedundancyTableWhole INNER JOIN REHAB_PIPE_CALC ON RedundancyTableWhole.COMPKEY = REHAB_PIPE_CALC.COMPKEY WHERE PATINDEX('%[0-9]%',RIGHT(REHAB_PIPE_CALC.USNODE,3)) > 0
--UPDATE RedundancyTableWhole SET RedundancyTableWhole.DSNODE = REHAB_PIPE_CALC.DSNODE FROM RedundancyTableWhole INNER JOIN REHAB_PIPE_CALC ON RedundancyTableWhole.COMPKEY = REHAB_PIPE_CALC.COMPKEY WHERE PATINDEX('%[0-9]%',RIGHT(REHAB_PIPE_CALC.DSNODE,3)) > 0

SELECT BB.COMPKEY FROM 
(SELECT * FROM RedundancyTableWhole AS A WHERE A.Rating >= 4) AS AA INNER JOIN
(SELECT * FROM RedundancyTableWhole AS B WHERE B.Rating = 3 ) AS BB ON AA.USNODE = BB.DSNODE OR AA.DSNODE = BB.USNODE
GROUP BY BB.COMPKEY



END
