USE [SANDBOX]
GO
/****** Object:  StoredProcedure [ROSE\issacg].[USP_REHAB_CREATECHARTOBJECTS]    Script Date: 06/28/2011 16:32:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [ROSE\issacg].[USP_REHAB_CREATECHARTOBJECTS] AS
BEGIN
DELETE FROM REHAB_JoesChartDataSums


INSERT INTO REHAB_JoesChartDataSums SELECT Z, JobNo,
SUM(SpotRepair_2010),
SUM(	[2010]),
SUM(	[2011]),
SUM(	[2012]),
SUM(	[2013]),
SUM(	[2014]),
SUM(	[2015]),
SUM(	[2016]),
SUM(	[2017]),
SUM(	[2018]),
SUM(	[2019]),
SUM(	[2020]),
SUM(	[2021]),
SUM(	[2022]),
SUM(	[2023]),
SUM(	[2024]),
SUM(	[2025]),
SUM(	[2026]),
SUM(	[2027]),
SUM(	[2028]),
SUM(	[2029]),
SUM(	[2030]),
SUM(	[2031]),
SUM(	[2032]),
SUM(	[2033]),
SUM(	[2034]),
SUM(	[2035]),
SUM(	[2036]),
SUM(	[2037]),
SUM(	[2038]),
SUM(	[2039]),
SUM(	[2040]),
SUM(	[2041]),
SUM(	[2042]),
SUM(	[2043]),
SUM(	[2044]),
SUM(	[2045]),
SUM(	[2046]),
SUM(	[2047]),
SUM(	[2048]),
SUM(	[2049]),
SUM(	[2050]),
SUM(	[2051]),
SUM(	[2052]),
SUM(	[2053]),
SUM(	[2054]),
SUM(	[2055]),
SUM(	[2056]),
SUM(	[2057]),
SUM(	[2058]),
SUM(	[2059]),
SUM(	[2060])

FROM(SELECT (CASE WHEN PIPESIZE <= 36 THEN 36 ELSE 37 END) AS Z, JobNo, SpotRepair_2010, [2010],
[2011],
[2012],
[2013],
[2014],
[2015],
[2016],
[2017],
[2018],
[2019],
[2020],
[2021],
[2022],
[2023],
[2024],
[2025],
[2026],
[2027],
[2028],
[2029],
[2030],
[2031],
[2032],
[2033],
[2034],
[2035],
[2036],
[2037],
[2038],
[2039],
[2040],
[2041],
[2042],
[2043],
[2044],
[2045],
[2046],
[2047],
[2048],
[2049],
[2050],
[2051],
[2052],
[2053],
[2054],
[2055],
[2056],
[2057],
[2058],
[2059],
[2060]
FROM REHAB_JoesChartData) AS TABz GROUP BY Z, JobNo

/*DECLARE @thisCompkey        int
DECLARE @iterativeYear      float
DECLARE @replaceYear        float
DECLARE @rValue             float
DECLARE @yearExponent       float
DECLARE @replaceSDev        float
DECLARE @interestValue      float
DECLARE @thisYear           float
DECLARE @ReplaceYear_Whole  float
DECLARE @SQL				nchar(1024)
DECLARE @iterativeColumn	int

BEGIN
Print '10'
SET @iterativeYear = 1950.00
SET @ReplaceYear = 2050.00
SET @ReplaceYear_Whole = 2130
SET @ReplaceSDev = 12.00
SET @interestValue = 1.025
SET @thisYear = 2010.00
SET @iterativeColumn = 4
END

UPDATE JoesChartData SET [2010] = theSum  
FROM (
	SELECT SUM(R2010) AS theSum, 
		   36 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth <= 36 AND B.grade_h5 <=3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade

UPDATE JoesChartData SET [2010] = [2010] + ISNULL(theSum,0) 
FROM (
	SELECT SUM(R2010) AS theSum, 
		   36 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth <= 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade

UPDATE JoesChartData SET [2010] = [2010] +ISNULL(theSum,0)  
FROM (
	SELECT SUM(R2010) AS theSum, 
		   37 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth > 36 AND B.grade_h5 <= 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade

UPDATE JoesChartData SET [2010] = [2010] +ISNULL(theSum,0)  
FROM (
	SELECT SUM(R2010) AS theSum, 
		   37 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth > 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade

-----SEGMENTS
--The following case should not exist
UPDATE JoesChartData SET [2010] = [2010] + ISNULL(theSum,0)  
FROM (
	SELECT SUM(R2010_Seg) AS theSum, 
		   36 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth <= 36 AND B.grade_h5 <=3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade

UPDATE JoesChartData SET [2010] = [2010] +ISNULL(theSum,0)  
FROM (
	SELECT SUM(R2010_Seg) AS theSum, 
		   36 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth <= 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade

--The following case should not exist
UPDATE JoesChartData SET [2010] = [2010] +ISNULL(theSum,0)  
FROM (
	SELECT SUM(R2010_Seg) AS theSum, 
		   37 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth > 36 AND B.grade_h5 <= 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade

UPDATE JoesChartData SET [2010] = [2010] +ISNULL(theSum,0)  
FROM (
	SELECT SUM(R2010_Seg) AS theSum, 
		   37 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth > 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade
*//*
Declare @columnName nchar(4)
SET @iterativeYear = 2011.00
WHILE @iterativeYear <= 2013--2150
BEGIN
SET    @yearExponent = Power(@interestValue, @thisYear - @iterativeYear)

UPDATE SmallResultsTable SET R2150 =	 @yearExponent * Consequence_Failure * (ISNULL(P,0)/@ReplaceSDev) FROM SmallResultsTable INNER JOIN NormalDistribution  ON Z = CASE WHEN ROUND((@iterativeYear-@ReplaceYear_Whole)/@ReplaceSDev,2) < -3 THEN -4
                                                                                                                                                                                         WHEN ROUND((@iterativeYear-@ReplaceYear_Whole)/@ReplaceSDev,2) >  3 THEN  4
                                                                                                                                                                                         ELSE ROUND((@iterativeYear-@ReplaceYear_Whole)/@ReplaceSDev,2) END 

Select @columnName = Column_Name from Information_SChema.columns 
where Ordinal_position = @iterativeColumn and Table_Name = 'JoesChartData'

--WHOLE PIPES (2011+)

Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL(theSum,0)  
FROM (SELECT SUM(R2150) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150, 
		   36 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth <= 36 AND B.grade_h5 <=3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 36 AND JoesChartData.PipeGrade = 3' 

Exec sp_Executesql @SQL 


Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL([' + @columnName + '],0) + ISNULL(theSum,0)  
FROM (SELECT SUM(R2150) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150,
		   36 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth <= 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 36 AND JoesChartData.PipeGrade = 5'

Exec sp_Executesql @SQL 


Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL([' + @columnName + '],0) +ISNULL(theSum,0)  
FROM (SELECT SUM(R2150) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150,
		   37 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth > 36 AND B.grade_h5 <= 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 37 AND JoesChartData.PipeGrade = 3'

Exec sp_Executesql @SQL

Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL([' + @columnName + '],0) +ISNULL(theSum,0)   
FROM (SELECT SUM(R2150) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150,
		   37 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION <3 AND B.DiamWidth > 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 37 AND JoesChartData.PipeGrade = 5'

Exec sp_Executesql @SQL

UPDATE SmallResultsTable SET R2150_Seg = @yearExponent * Consequence_Failure * (ISNULL(P,0)/@ReplaceSDev) FROM SmallResultsTable INNER JOIN NormalDistribution  ON Z = CASE WHEN ROUND((@iterativeYear-@ReplaceYear)/@ReplaceSDev,2) < -3 THEN -4
                                                                                                                                                                                         WHEN ROUND((@iterativeYear-@ReplaceYear)/@ReplaceSDev,2) >  3 THEN  4
                                                                                                                                                                                         ELSE ROUND((@iterativeYear-@ReplaceYear)/@ReplaceSDev,2) END


--SEGMENTS (2011+)
Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL([' + @columnName + '],0) +ISNULL(theSum,0)  
FROM (SELECT SUM(R2150_Seg) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150_Seg,
		   36 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth <= 36 AND B.grade_h5 <=3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 36 AND JoesChartData.PipeGrade = 3' 

Exec sp_Executesql @SQL 


Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL([' + @columnName + '],0) +ISNULL(theSum,0)  
FROM (SELECT SUM(R2150_Seg) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150_Seg,
		   36 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth <= 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 36 AND JoesChartData.PipeGrade = 5'

Exec sp_Executesql @SQL 


Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL([' + @columnName + '],0) +ISNULL(theSum,0)  
FROM (SELECT SUM(R2150_Seg) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150_Seg, 
		   37 AS PipeSize, 
            3 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth > 36 AND B.grade_h5 <= 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 37 AND JoesChartData.PipeGrade = 3'

Exec sp_Executesql @SQL

Set @SQL  = 'UPDATE JoesChartData SET [' + @columnName + '] = ISNULL([' + @columnName + '],0) +ISNULL(theSum,0)   
FROM (SELECT SUM(R2150_Seg) AS theSum, C.PipeSize, C.PipeGrade FROM(
	SELECT R2150_Seg,
		   37 AS PipeSize, 
            5 AS PipeGrade  FROM SmallResultsTable AS A INNER JOIN [REHAB10FTSEGS_BES] AS B ON A.COMPKEY = B.COMPKEY AND B.ACTION =3 AND B.DiamWidth > 36 AND B.grade_h5 > 3 AND B.MLinkID >=40000000) AS C 
INNER JOIN JoesChartData AS D ON C.PipeSize = D.PipeSize AND C.PipeGrade = D.PipeGrade GROUP BY C.PipeSize, C.PipeGrade) AS SumTable WHERE JoesChartData.PipeSize = 37 AND JoesChartData.PipeGrade = 5'

Exec sp_Executesql @SQL


SET @iterativeYear = @iterativeYear+1.00
SET @iterativeColumn = @iterativeColumn + 1
END
*/
END
