USE [SANDBOX]
GO
/****** Object:  StoredProcedure [ROSE\issacg].[USP_REHAB_PROC_REJECTS_ALL_GROUP_BY_COMPKEYS]    Script Date: 06/28/2011 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [ROSE\issacg].[USP_REHAB_PROC_REJECTS_ALL_GROUP_BY_COMPKEYS] 
AS
BEGIN
	SET NOCOUNT ON;
SELECT     compkey
FROM         GIS.REHAB_REJECTS_ALL
GROUP BY compkey
END
